@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    43 Hamelacha St.<br /> 
    425041 Netanya<br /> 
    Israel<br/>
    <abbr title="Phone">P:</abbr>
    (+972) (0)77-414-5152
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:amos@cohenscigars.com">Amos@CohensCigars.com</a><br />
</address>